* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home-page {
  background: url("images/quaritsch-photography-3xQ65cknLPk-unsplash.jpg")
    no-repeat;
  margin: 0px;
  background-position: center;
  background-repeat: non-repeat;
  background-size: cover;
}
.other-page {
  background: url("images/nathan-dumlao-GkyrU8Olw2c-unsplash.jpg");
  margin: 0px;
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  padding-top: 0px;
  padding-bottom: 0px;
}
.second-other {
  background-color: white;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
.box1 {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  padding-top: 10px;
  padding-bottom: 10px;
}

Header {
  height: 110px;
  text-align: center;
}
.navBar {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  padding-bottom: 10px;
}
h1 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 350px;
}
.h3 {
  font-size: small;
}

nav {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 40px;
}

.main {
  height: 400px;
  text-align: center;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
}

footer {
  height: 10px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.box1 {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

a {
  color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.navBar {
  width: 140%;
  background-color: rgba(85, 85, 85, 0);
  overflow: none;
  border-radius: 10px;
}

.navBar a {
  float: left;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;
  width: 12%;
  text-align: center;
}

.navBar a:hover {
  background-color: rgba(47, 79, 79, 0.253);
}

.navBar a.topbar {
  background-color: rgba(52, 88, 88, 0.925);
  color: white;
}

.id1 {
  border: 2px solid black;
  padding: 25px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 1000px 500px;
}

.profil {
  display: flex;
  font-size: small;
}

.rad1 {
  flex: 1;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}
.rad2 {
  flex: 1;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-right: 3px solid darkslategray;
}
.rad3 {
  flex: 1;
  padding: 30px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0.466);
  font-size: 15px;
  border-right: 3px solid darkslategray;
  border-bottom: 3px solid darkslategray;
  border-top: 3px solid darkslategray;
}
.rad4 {
  flex: 1;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-right: 0px solid;
}
img {
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
}

.footer1 {
  background-color: darkslategray;
  padding: 10px;
  text-align: center;
}

.knapp {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  font-size: 30px;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 46%;
  border: 2px solid darkslategray;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 24px;
}
.knapp1 {
  border-color: white;
  color: darkslategray;
}

.textfoot {
  display: flex;
}

.fot1 {
  flex: 1;
  padding: 10px;
  background-color: darkslategray;
  color: white;
  border-right: 0px solid;
}

.fot2 {
  flex: 1;
  padding: 10px;
  background-color: darkslategray;
  color: white;
  border-right: 0px solid;
}
.column {
  float: left;
  width: 50%;
  padding: 0px 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  background-color: #f1f1f186;
}
