*{
  box-sizing: border-box;
}
html {
  height: 700px;
}
body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
body.home-page {
  background: url(images/quaritsch-photography-3xQ65cknLPk-unsplash.jpg)
    no-repeat;
  background-position: center;
  background-repeat: non-repeat;
  background-size: cover;
}
.other-page {
  background: url(images/nathan-dumlao-GkyrU8Olw2c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  padding-top: 0px;
  padding-bottom: 0px;
}
.second-other {
  background-color: white;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
.box1 {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  padding-top: 10px;
  padding-bottom: 10px;
}

Header {
  height: 110px;
  text-align: center;
}
.navBar {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 350px;
}
.h3{
  font-size: small;
}

nav {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 40px;
}

.main {
  height: 400px;
  text-align: center;
  padding-top: 100px;
  padding-left: 300px;
  padding-right: 300px;
}

footer {
  height: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.box1 {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

a {
  color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.navBar {
  width: 140%;
  background-color: rgba(85, 85, 85, 0);
  overflow: none;
  border-radius: 10px;
}

.navBar a {
  float: left;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;
  width: 12%; 
  text-align: center; 
}

.navBar a:hover {
  background-color:rgba(47, 79, 79, 0.253);
}

.navBar a.topbar {

  background-color: rgba(52, 88, 88, 0.925);
  color: white;
}


footer p {
  font-size: 15px;
  text-align: center;
  color: rgb(95, 93, 93);
}

.id1 {
  border: 2px solid black;
  padding: 25px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 1000px 500px;
}

.profil{
  display:flex;
  font-size: small;
}

.rad1{
  flex:1;
  padding:10px;
  background-color: rgba(255, 255, 255, 0);
  
}
.rad2{
  flex: 1;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-right: 3px solid darkslategray;

}
.rad3{
  flex: 1;
  padding: 30px;
  padding-bottom: 40px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
  border-right: 3px solid darkslategray;
  border-bottom: 3px solid darkslategray;
  border-top: 3px solid darkslategray;
}
.rad4{
  flex: 1;
  padding: 10px;
  background-color:rgba(255, 255, 255, 0);
  border-right: 0px solid;
}
img {
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
}
